@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FFE3EB;
    overflow-y: hidden;
}

.inventory p {
    border-right: 1px solid #FF69B5 !important;
    margin: auto;
    color: #FF69B5;
}

.inventory img {
    width: 37px;
    height: 37px;

}

.menu-text {
  font-weight: 600;
  font-size: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.nav-link p {
  margin: 0;
}

.border_bottom,
.border_top {
  position: relative;

}

.border_bottom::after,
.border_top::after {
  content: "";
  position: absolute;
  bottom: 0;
  /*UNCOMMENT this if the border is displayed at the right side*/
  /* transform: translateX(-50%); */
  opacity: 1;
  width: 50%;
  height: 1px;
  background-color: #FA2290;
  transition: all 1s ease-in-out 1s
}

.border_top::after {
  top: 0;
}

.nav-link i {
  font-size: 30px;
  color: #FA2290;
  border: none;
}

.nav-link-exit i {
  font-size: 24px;
}

.nav-link-exit p {
  font-size: 16px;

}
/* RESPONSIVENESS */

.toggle-btn {
  border: none;
  background-color: inherit;
  color: #FA2290;
}

.toggle-btn i {
  font-weight: 700;
  font-size: 24px;
  display: none;
}


.button-container button {
    font-family: Poppins;
    font-size: 16px;
    height: 55px;
    width: 191px;
    background-color: #FAC1D9;
    border-radius: 10px;
    border: none;
    font-size: 1 em;
    cursor: pointer;
}

.button-container a{
    font-family: Poppins;
}

#product-details {
    background-color: #FFA8D4;
    height: 720px;
    width: 550px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.stocks {
    max-height: 720px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 1110px;
}

th {
    background-color: rgba(255, 164, 241, 0.33) !important;
}

td {
    background-color: rgba(255, 164, 241, 0.33) !important;
    vertical-align: middle !important;
    color:  #FA2290 !important;
    font-size: 16px;
}

tr:hover {
    cursor: pointer;
}

.table {
    --bs-table-border-color: black;
}

#product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

#product-description {
    font-size: 16px;
    font-weight: 600 !important;
    width: 480px;
    height:150px;
}

#inner-details h3 {
    font-size: 24px;
    font-weight: 600 !important;
}

#product-price {
    font-size: 20px;
    font-weight: bold !important;
}

#edit-text {
    font-size: 20px;
    font-weight: bold !important;
    color:  #FA2290 !important;
    margin-right: 10px;
}

#total-products {
    font-family: Poppins;
    font-size: 16px;
}

#total-products strong{
    font-size: 25px;
}
