@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #F8DFF3;
    font-family: Poppins;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: #7E4F63;
    font-size: 55px;
}

.main-container {
    position: fixed;
    inset: 0px;
    width: 48rem;
    height: 35rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    background-color: #f3cbeb;
    border-radius: 50px;
}

.form h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 45px;
    margin-top: 40px;
    color: #7E4F63;
}

.form  {
    text-align: center;
}

.form p {
    font-family: Poppins;
    font-size: 15px;
    margin-top: 20px;
    color: #7E4F63;
}

.form-container input {
    width: 70%;
    margin: 15px 0;
    padding: 12px 20px;
    color: #7E4F63;
    border: none;
    outline:none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

.button-container button {
    font-family: Poppins;
    font-size: 16px;
    height: 64px;
    width: 143px;
    margin: 30px 10px;
    background-color: #ec6fad;
    border-radius: 10px;
    border: none;
    padding: 12px 24px;
    font-size: 1 em;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #EF8BBD;
}

::placeholder {
    font-family: Poppins;
    font-size: 16px;
    color: #7E4F63;
    opacity: 1;
}

.button-container a{
    color: #7E4F63;
    font-family: Poppins;
}

.form-login {
    display: flex;
    align-items: flex-start;
    margin-left: 110px;
}

.login {
    color: black;
    text-decoration: none;
}

.login:hover {
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    width: 35rem;
    height: 24rem;
    margin: 180px auto;
  }

  .form h2{
    font-size: 2em;
    margin-top: 30px;
  }
    .button-container button {
    font-size: 14px;
    margin: 25px 8px;
    padding: 10px 22px;
    }

    .form-container input {
        margin-top: 0;
    }


    .button-container a {
    font-size: 14px;
    }
}


@media(max-width: 767px) {
  .main-container {
    margin: 160px auto;
    width: 30rem;
    height:20rem;
  }

  .form h2{
    font-size: 1.5em;
    margin-top: 15px;
  }
    .button-container button {
    font-size: 12px;
    margin: 20px 6px;
    padding: 8px 18px;
    }

    .form-container input {
        margin-top: 0;
    }

    .button-container a {
    font-size: 12px;
    }
}


@media(max-width: 492px) {
  .main-container {
    margin: 160px auto;
    width: 24rem;
    height:20rem;
  }
}
